
<h3>
    Books present in my Book Store 
</h3>

<!--<button (click)="handleClick()" (mouseover)="handleMouseOver()" [disabled] = "isDisabled"> Show Books </button>
-->



<button (click)="isShowing = !isShowing"> 
    <!-- A special element that can hold structural directives without adding new elements to the dom -->
    <ng-container *ngIf="!isShowing">Show Books </ng-container>
    <ng-container *ngIf="isShowing"> Hide Books</ng-container>
</button>

<input type="text" [(ngModel)]= "data" />

<br/>

Data Entered in to the text field : {{ data }}
<!-- <ul *ngIf="isShowing">
    <li *ngFor="let book of books; let i = index">
        {{ i + 1}}
        <img [src]="book.src"
        [alt] = "book.name" width="100" />
        {{ book.name }} by {{ book.author }}
    </li>
    
</ul> -->


<ul *ngIf="isShowing">
    <ng-container *ngFor="let book of books; let i = index">
    <li>
        {{ i + 1}}
        <img [src]="book.src"
        [alt] = "book.name" width="100" />
        {{ book.name }} by {{ book.author }}
    </li>
    </ng-container>
    
</ul>

