

<!--
<h3> Pipe Demos </h3>

<div>{{companyName | uppercase }}</div>
<div>{{companyName | lowercase }}</div>
<div>{{todaysdate | date:'d/M/y'}}</div>

<div>Currency Pipe 
    {{ 678292.8989 | currency:"INR" }}<br/>
    {{ 678292.8989 | currency:"SGD" }}<br/>
    {{ 678292.8989 | currency:"GBP" }}
</div>
<br/>
<br/>
<div>Time 
{{ todaysdate | date:'shortTime'}}

</div>

<div>
    decimal pipe 

    {{ 9898.9898989899898 | number: '8.4-4' }}
</div>


<div>
    JSON Pipe 

    {{ datajson | json }}
</div>

<div>
    Slice Pipe 

    {{ companies | slice:2:4 }} <br/>

    Start Index : {{ companies | slice:2 }} <br/>

    Negative index : {{ companies | slice:-2 }} <br/>


    Negative start and end index : {{ companies | slice:-4:-2}}

</div>

<div>
    percentage pipe 

    {{ 56.890000 | percent }}
</div>
<br/>


<div>
    Other Date Pipes 

    {{todaysdate | date:'shortDate' }}<br/>
    full date : {{ todaysdate | date:'fullDate' }}<br/>
    formated Date : {{ todaysdate | date:'M/dd/yyyy' }}<br/>

</div>


<div>
    Chained Pipes <br/>

    Date with upper case : {{ todaysdate | date:'fullDate' | uppercase }}<br/>
    Date with lower case : {{ todaysdate | date:'medium' | lowercase }}<br/>

</div>


<div style="text-align:center">
json updated pipes 

<p ngNonBindable>{{ datajson }}</p>
<p> {{ datajson }}</p>

<p ngNonBindable>{{ datajon | json }}</p>
<p> {{ datajson | json }}</p>
</div>


<div>
    <p> Custom pipe with no arguments </p>

    <h2> {{ customText | wordcount }}</h2>

    <p> Custom Pipe with arguments </p>

    {{ file.size | filesize }} <br/>
    {{ file.size | filesize:'megabyte' }}<br/>


    {{ file.size | filesize:'petabyte' }}<br/>
</div>

-->



<h3>
    Books present in my Book Store 
</h3>

<!--<button (click)="handleClick()" (mouseover)="handleMouseOver()" [disabled] = "isDisabled"> Show Books </button>
-->



<button (click)="isShowing = !isShowing"> 
    <!-- A special element that can hold structural directives without adding new elements to the dom -->
    <ng-container *ngIf="!isShowing">Show Books </ng-container>
    <ng-container *ngIf="isShowing"> Hide Books</ng-container>
</button>

<input type="text" [(ngModel)]= "data" />

<br/>

Data Entered in to the text field : {{ data }}
<!-- <ul *ngIf="isShowing">
    <li *ngFor="let book of books; let i = index">
        {{ i + 1}}
        <img [src]="book.src"
        [alt] = "book.name" width="100" />
        {{ book.name }} by {{ book.author }}
    </li>
    
</ul> -->


<ul *ngIf="isShowing">
    <ng-container *ngFor="let book of books; let i = index">
    <li>
        {{ i + 1}}
        <img [src]="book.src"
        [alt] = "book.name" width="100" />
        {{ book.name | titlecase }} by {{ book.author | titlecase}}

        <h4>{{ book.price | currency:"INR" }}</h4>
    </li>
    </ng-container>
    
</ul>

