<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> First Example - Basic constructs Demo </h1>


  <router-outlet></router-outlet>
  <!--
  <app-books></app-books>
  <app-cart></app-cart>

  
<h3>----- Nested Components Demo ------</h3>

<app-servers></app-servers>

<app-customer></app-customer>
<app-supplier></app-supplier>
<app-associate></app-associate>
<app-register></app-register>

<app-twowaybinding2></app-twowaybinding2>
<app-directivesdemo></app-directivesdemo>

-->
</body>
</html>